@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero::before {
    @apply absolute left-0 right-0 z-0 block h-full w-full bg-cover bg-bottom bg-no-repeat brightness-75 md:bg-center lg:bg-fixed;
  }

  .icon-scroll {
    box-shadow: inset 0 0 0 2px #737373;
    &::before {
      animation: scroll 1.5s infinite;
      @apply absolute left-1/2 top-2 -ml-[0.15rem] h-[0.28rem] w-[0.28rem] rounded bg-white content-[''];
    }
  }

  .circle-img {
    shape-outside: circle(50%);
    @apply float-left mr-4 mb-1 h-44 w-44 rounded-full bg-blue-500 bg-profile-photo bg-cover bg-center;
  }

  .time-dot::before {
    box-shadow: 3px 3px 0px #8bb2ecbd;
    @apply absolute top-1 -left-6 h-3 w-3 rounded-full border border-blue-500 bg-white content-[''];
  }
}

@layer utilities {
  .pressable {
    @apply transform transition-transform focus:ring-4 active:scale-x-75;
  }

  * {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  @keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(0.5rem);
    }
  }
}
